<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Happy Dog Day</title>
</head>
<body>
<h1> My People</h1>

<h2>These are my people. Don't Mess with them </h2>
<label for="name-input">Name:</label>
<input type="text" id="name-input">

<label for="email-input">Email:</label>
<input type="email" id="email-input" name="email" required>

<label for="birthday-input">Birthday:</label>
<input type="date" id="birthday-input" name="birthday" required>

<button id="save-button">Save</button>
</body>
<ul id="persons"></ul>

<script src = "/script.js"> </script>

</html>